aclocal.m4
autom4te.cache/
*.tar.gz
/blib/
/.build/
_build/
conftools/
cover_db/
inc/
Build
!Build/
thirdparty/*
!thirdparty/
!thirdparty/Makefile.am
!thirdparty/cpanfile*snapshot
!thirdparty/Makefile.in
Build.bat
.last_cover_stats
Makefile
Makefile.in
Makefile.old
MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
public
/config.*
etc/*.cfg
etc/*.yaml
!etc/*.dist.*
etc/*secret
/frontend/compiled
/frontend/node_modules
/configure
*~
/.vscode/perl-lang/
node_modules
