# the extopus configuration file
*** GENERAL ***
cache_dir = /scratch/extopus-demo/cache
mojo_secret = d0duj3mfjfviasasdfasdf
log_file = /scratch/extopus-demo/extopus-full.log
default_user = admin
update_interval = 5

*** FRONTEND ***
#logo_large = http://www.upc-cablecom.biz/en/cablecom_logo_b2b.jpg
title = Extopus DEMO
open_branches = 1
tree_width = 10

*** ATTRIBUTES ***
cust = Customer
data = Data
data_type = Type
device_name = Device
inv_id = SAP
port = Port
prod = Product
svc_type = Svc Type
country = Country
torrus.nodeid = NodeId
torrus.tree-url = Url
cpe = CPE

*** TABLES ***
search =  prod,  cust, data_type,  inv_id, device_name, port
search_width = 2,  2,    1,         2,      1,           1
tree =       prod, cust, data_type, inv_id, device_name, port
tree_width = 2,    2,    1,          2,      1,           1

*** INVENTORY: siam1 ***
module=SIAM
siam_cfg=/home/torrusde/pm/etc/siam.yaml
#skipnode_pl = $R{'cablecom.port.display'} and $R{'cablecom.port.display'} eq 'skip'
load_all = true

+MAP
cust = siam.contract.customer_name
data = siam.svcdata.name
data_type = siam.svcdata.type
device_name = siam.device.name
inv_id = siam.svc.inventory_id
port = torrus.port.name
prod = $R{'siam.svc.product_name'} or 'No Product'
#street = $R{'cablecom.svc.loc.address'} . ' ' . ( $R{'cablecom.svc.loc.building_number'} || '')
#street = ( $R{'cablecom.svc.loc.building_name'} ? $R{'cablecom.svc.loc.building_name'} : ($R{'cablecom.svc.loc.address'} || '') . ' ' . ( $R{'cablecom.svc.loc.building_number'} || '') . ( $R{'cablecom.svc.loc.building_number_annex'} || '') )
#support_level = cablecom.svc.support_level
svc_type = siam.svc.type
torrus.nodeid = torrus.port.nodeid
torrus.tree-url = torrus.tree-url
svc=siam.svcdata.name
+TREE
'Customers',$R{cust}
'Devices',$R{device_name}

*** VISUALIZER: port ***
module=TorrusChart
title=Traffic Charts  
caption="$R{prod} $R{inv_id} $R{device_name}:$R{port}"
savename_pl = "$R{cust} - $R{inv_id} $R{device_name}:$R{port}"
mode=traffic

+PRINTTEMPLATE_TX
<!doctype html><html>
 <head><title><%= "Utilization Report for $R{device_name}:$R{port}" %></title></head>
 <body>
   <h1>Utilization Report</h1>
   <h2><%= "$R{prod} $R{inv_id} $R{device_name}:$R{port}" %></h2>

   <div>Period of @@START(d.MM.yyyy)@@ - @@END(d.MM.yyyy)@@</div>  


   <div><b><%= $R{cust} %></b></div>

   <p>
   <div>Customer Reference: <%= $R{customer_ref} || 'undefined' %></div>
   <div>Service Level: <%= $R{service_level} %></div>
   <div>Support Level: <%= $R{support_level} %></div>
   <div>CAR: <%= $R{car} %></div></p>

   <p>@@VIEW@@<br/>
   <img style="width: 100%" src="@@SRC@@" alt="chart"/></p>

   <p><small>Generated <%= scalar localtime(time) %></small></p>
 </body>
</html>


*** VISUALIZER: data ***
module = TorrusData
selector = data_type
type = PortTraffic
title = Port Traffic
caption = "$R{prod} $R{inv_id} $R{device_name}:$R{port}"
#skiprec_pl = $R{display} eq 'data_unavailable'
savename_pl = "$R{cust} - $R{inv_id} $R{device_name}:$R{port}"

sub_nodes = inbytes, outbytes
col_names = Avg In, Avg  Out, Total In, Total Out, Max In, Max Out, Coverage      
col_units = Mb/s,   Mb/s,     GB,       GB,        Mb/s,   Mb/s,    %
col_widths = 20,      20,     20,       20,        20,     20,      10 
col_data = int($D{inbytes}{AVG}*8/1e4)/1e2, \
           int($D{outbytes}{AVG}*8/1e4)/1e2, \
           int($D{inbytes}{AVG} * $DURATION / 100 * $D{inbytes}{AVAIL}/1e7)/1e2, \
           int($D{outbytes}{AVG} * $DURATION / 100 * $D{outbytes}{AVAIL}/1e7)/1e2, \
           int($D{inbytes}{MAX}*8/1e5)/1e1, \
           int($D{outbytes}{MAX}*8/1e5)/1e1, \
           int($D{inbytes}{AVAIL})

*** VISUALIZER: prop ***
module=Properties
title=Properties
caption="$R{prod} $R{inv_id} $R{device_name}:$R{port}"
