*** GENERAL ***
cache_dir = /scratch/extopus
mojo_secret = my_secret
log_file = /tmp/extopus-tobi.log

*** ATTRIBUTES ***
prod = Product
country = Country
city = City
street = Street
number = No
cust = Customer
svc_type = Service
data = Data
data_type = Type
port = Port
inv_id = SAP

*** TABLES ***

search = prod, country, city, street, number, cust, svc_type, data, data_type, port, inv_id
tree = prod, country, city, street, number, cust, svc_type, data, data_type, port, inv_id

*** INVENTORY: siam1 ***
module=SIAM
siam_cfg=/opt/extopus/etc/siam.yaml

+MAP
prod = siam.svc.product_name
country = xyc.svc.loc.country
city = xyc.svc.loc.city
street = $I{'xyc.svc.loc.address'} . ' ' . ( $I{'xyc.svc.loc.building_number'} || '')
cust = siam.contract.customer_name
svc_type = siam.svc.type
data_class = siam.svcdata.name
data_type = siam.svcdata.type
port = xyc.port.shortname 
inv_id = siam.svc.inventory_id
torrus.tree-url = torrus.tree-url
torrus.nodeid = torrus.nodeid
car = xyc.svc.car_name

+TREE

'Location',$R{country}, $R{city}, $R{street}
$R{cust},$R{svc_type},$R{data_type}

*** VISUALIZER: chart ***
module=TorrusChart
+TxPrintTemplate
<!doctype html><html>
 <head><title><%= "$R{cust} $R{city} $R{svc_type}" %></title></head>
 <body>
   <h1><%= "$R{cust} $R{city}" %></h1>
   <h2>@@VIEW@@</h2>
   <div>@@START(d.MM.yyyy)@@ - @@END(d.MM.yyy)@@</div>
   <p><img src="@@SRC@@"/></p>
 </body>
</html>

*** VISUALIZER: prop ***
module=Properties



