*** GENERAL ***
cache_dir = /scratch/extopus
mojo_secret = my_secret
log_file = /tmp/extopus-tobi.log

*** ATTRIBUTES ***
prod = Product
country = Country
city = City
street = Street
number = No
cust = Customer
svc_type = Service
data = Data
data_type = Type
port = Port
inv_id = SAP

*** TABLES ***

search = prod, country, city, street, number, cust, svc_type, data, data_type, port, inv_id
search_width = 1,   1,       1,    2,      2,    1,          1,   2   
tree = prod, country, city, street, number, cust, svc_type, data, data_type, port, inv_id
tree_width = 1,   1,      1,    2,      2,    1,          1,    2

*** INVENTORY: siam1 ***
module=SIAM
siam_cfg=/opt/extopus/etc/siam.yaml

+MAP
prod = siam.svc.product_name
country = xyc.svc.loc.country
city = xyc.svc.loc.city
street = $I{'xyc.svc.loc.address'} . ' ' . ( $I{'xyc.svc.loc.building_number'} || '')
cust = siam.contract.customer_name
svc_type = siam.svc.type
data_class = siam.svcdata.name
data_type = siam.svcdata.type
port = xyc.port.shortname 
inv_id = siam.svc.inventory_id
torrus.tree-url = torrus.tree-url
torrus.nodeid = torrus.nodeid
car = xyc.svc.car_name

+TREE

'Location',$R{country}, $R{city}, $R{street}
$R{cust},$R{svc_type},$R{data_type}

*** VISUALIZER: chart ***
module=TorrusChart
title = Torrus Traffic
caption = "$R{prod} $R{inv_id} $R{device_name}:$R{port}"
mode = traffic
#mode = qos
+TxPrintTemplate
<!doctype html><html>
 <head><title><%= "$R{cust} $R{city} $R{svc_type}" %></title></head>
 <body>
   <h1><%= "$R{cust} $R{city}" %></h1>
   <h2>@@VIEW@@</h2>
   <div>@@START(d.MM.yyyy)@@ - @@END(d.MM.yyy)@@</div>
   <p><img src="@@SRC@@"/></p>
 </body>
</html>

*** VISUALIZER: data ***
module = TorrusData
selector = data_type
type = PortTraffic
title = Port Traffic
sub_nodes = inbytes, outbytes
col_names = Date, Avg In, Avg  Out, Total In, Total Out, Max In, Max Out
col_units =   , Mb/s, Mb/s, Gb, Gb, Mb/s, Mb/s, %
col_widths = 2,  3  ,  3,    3,  3,  3,    3, 2

col_data = int($D{inbytes}{AVG}*8/1e4)/1e2, \
           int($D{outbytes}{AVG}*8/1e4)/1e2, \
           int($D{inbytes}{AVG}*8 * $DURATION / 100 * $D{inbytes}{AVAIL}/1e7)/1e2, \
           int($D{outbytes}{AVG}*8 * $DURATION / 100 * $D{outbytes}{AVAIL}/1e7)/1e2, \
           int($D{inbytes}{MAX}*8/1e5)/1e1, \
           int($D{outbytes}{MAX}*8/1e5)/1e1, \
           int($D{inbytes}{AVAIL})        

*** VISUALIZER: prop ***
module=Properties
title=Properties
caption = "$R{prod} $R{inv_id} $R{device_name}:$R{port}"
# use this to limit the attributes shown
# properties = cust,street,city,data_type,data_class


